.main {
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin: 8rem auto;
  align-items: center;

  .none {
    text-align: center;
    font-family: 'Assistant';
    font-weight: 700;
    opacity: .7;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1023px) {
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    gap: 2rem;
    place-content: center;

  }
}