.box {
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1rem;
  font-family: 'Assistant';
  width: 98vw;
  height: 8rem;
  position: relative; 
  cursor: pointer;

  .option {
    width: 3.2rem;
    position: absolute;
    right: 1rem;
    top: 20%;
    transform: translateY(-50%);
  
  }

  .options-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 5rem;
    top: 50%; 
    transform: translateY(-50%);
    background-color: #FFF4C5;
    text-align: center;
    width: fit-content;
    padding: 1rem;
    z-index: 20;

    p {
      width: 100%;
      height: 100%;
      font-weight: 700;
      padding: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #e6dbae;
      }
    }
  }

  .content {
    opacity: .5;
    margin:.5rem 1.5rem;
  }
}

@media (min-width: 1023px) {
 .box {
    width: 100%;
    height: 20rem;
    
    .option {
      top: 10%
    }

    .options-box {
      right: 2.4rem;
      top: 40%;
    }
  }
}