.sat {
  width: 100vw;
  opacity: .12;
  display: block;
  margin: auto;
  aspect-ratio: 16/9;
}

.foot {
  width: 100vw;
  text-align: center;
  font-family: 'Assistant';
  margin-bottom: 2rem;
  
  a {
    color: #000;
    font-weight: 700;
  }
}



@media (min-width: 1023px) {
  .sat {
    // height: 30vh;
    width: 30vw;
  }
}
