.header {
  margin-top: 8rem;
  text-align: center;
  width: 100vw;
  font-family: 'Bad Script';
  height: max-content;


  h1 {
    font-size: 5rem;
    font-weight: 400;
    text-decoration: underline 2px;
    text-align: center;
    cursor: pointer;
  }

  small {
    font-size: 1.8rem;
  }
}

@media (min-width: 1023px) {
  .header {
    margin-top: 15rem;

    h1 {
      font-size: 7rem;
    }

    small {
      font-size: 2.2rem;
    }
  }
}