  .btn {
      width: 10rem;
      border: none;
      outline: none;
      font-family: 'Assistant';
      font-weight: 700;
      display: none;
      text-align: center;

      &:hover {
        background-color: #D9D9D9;
        cursor: pointer;
      }
  }

.navhome {
    position: absolute;
    text-decoration: none;
    list-style: none;
    background-color: #FFF4C5;
    width: 100vw;
    text-align: center;
    height: fit-content;
    flex-direction: column;
    padding-top: 8rem;
    display: none;
    
    a, li {
      padding: 1rem 4rem;
      font-family: 'Assistant';
      font-weight: 700;
      border-right: none;
      border-left: none;
      font-size: 1.8rem;
      display: block;
      border-radius: 4px;
    }
  }

  @media (min-width: 1023px) {
    .btn {
      display: inline-block;
      font-weight: 700;
      background-color: transparent;
      padding: 1.2rem;

      &:hover {
        background-color: #fff1b3;
      }
    }
    
     .navlist {
      display: flex;
      flex-direction: row;
      position: unset;
      padding-top: 0;
      justify-content: right;
      align-items: center;

      li {
        border: none;
        font-size: 2rem;
      }
    }
  }