.view__nav {
  width: 100vw;
  height: 8rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: #FFF4C5;

  a {
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Assistant';
    padding: 1rem 2rem;

    &:hover {
      background-color: #ffeea3;

    }
  }

  .backbtn {
    position: unset;
    width: 4.5rem;
  }
  
  .option {
    width: 5rem;
  }

  .options-box {
    background-color: #fff4c5;
    position: absolute;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    .single {
      margin: 1rem;
      width: 4rem;
    }
  }
}