body { overflow-x: hidden; }

.page {
  margin-bottom: 5rem;
}

.no-display-button {
  display: none;
  opacity: 0;
}

.save {
  width: 20rem;
  height: 8rem;
  font-family: 'Bad Script';
  font-weight: 700;
  background-color: #FFF4C5;
  border: none;
  outline: none;
  margin: auto;
  display: block;
  margin-top: 3rem;
  cursor: pointer;

  &:hover {
    background-color: #ffed9f;
  }
}

.spinner {
  margin: auto;
  margin-top: 3rem;
}

.save-error {
  font-family: 'Assistant';
  font-weight: 700;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: red;
}

.backbtn {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  position: relative;
  top: 7rem;
  left: 50%;
  margin: 1rem;
  transform: translateX(-50%);
}