body { overflow-x: hidden; }

.page {
  margin-bottom: 5rem;
}

.edit-wrapper {
  width: 96vw;
  margin:auto;
}

.title.edit-wrapper {
  margin-top: 7rem;
}

.content.edit-wrapper {
  min-height: 40rem;
}

.edit-editor {
  background-color: #fff;
  padding: 2rem;

}

.title.edit-editor {
  height: 100%;
  font-size: 3rem;
}

.content.edit-editor {
  min-height: inherit;
}

.edit-toolbar {
  background-color: #fff;
  height: max-content;
  margin: 0;
  padding: 1rem;
}

.rdw-dropdown-selectedtext, .rdw-dropdownoption-default {
  background-color: #000;
  color: white;
  font-family: 'Assistant';
  outline: none;
  border: none;
}

.rdw-dropdown-selectedtext > img, .rdw-dropdownoption-default > img {
  filter: invert();
}

.rdw-option-wrapper {
  background-color: #000;
  color: white;
  font-family: 'Assistant';
  outline: none;
  border: none;
  width:3.3rem;
}

.rdw-dropdown-selectedtext, .rdw-option-wrapper {
  height: 3.3rem;
  margin-bottom: 0;
  margin-top: 0;
}

.rdw-option-wrapper > img {
  filter: invert();
}

.rdw-remove-wrapper, .rdw-link-wrapper, .rdw-colorpicker-wrapper, .rdw-fontfamily-wrapper, .rdw-fontsize-wrapper, .rdw-block-wrapper {
  width: fit-content;
  height: fit-content;
}

.title.edit-toolbar {
  margin: auto;
}

.no-display-button {
  display: none;
  opacity: 0;
}

.save {
  width: 20rem;
  height: 8rem;
  font-family: 'Bad Script';
  font-weight: 700;
  background-color: #FFF4C5;
  border: none;
  outline: none;
  margin: auto;
  display: block;
  margin-top: 3rem;
  cursor: pointer;
}

.spinner {
  margin: auto;
  margin-top: 3rem;
}

.save-error {
  font-family: 'Assistant';
  font-weight: 700;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: red;
}


.save:hover {
  background-color: #ffed9f;
}

.backbtn {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  position: relative;
  top: 7rem;
  left: 50%;
  margin: 1rem;
  transform: translateX(-50%);
}