@keyframes revealText {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background-color: #000;
  }
}

@keyframes dissapear {
  to {
    background-color: transparent;
  }
}

@mixin style {
    & {
      text-align: center; 
    font-size: 2rem;
    line-height: 1.6;
    white-space: nowrap;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    &::before {
      background-color: #F3E5AB;
    }

    &::after {
      content: "";
      width: 1px;
      background-color: transparent;
    }
  }
}

.checked {
  text-decoration: line-through;
    font-style: italic;
    opacity: .8;
}

.container {
  border-right: none;
  padding: 1rem;
  width: max-content;
  position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  display: flex;
  user-select: none;


  input {
    margin-right: 1rem;
    padding: 3rem;
    background-color: #000;
  }

  .puno.first {
    @include style;

    &::before{
      animation: revealText 5.3s steps(53) forwards;
    }

    &::after {
      animation: revealText 5.3s steps(53) forwards,
      blink 500ms steps(53) infinite;
    }
  }

  .puno.second {
    @include style;

    &::before {
      animation: revealText 5.3s steps(53) 6s forwards;
    }

    &::after {
      animation: revealText 5.3s steps(53) 6s forwards,
      blink 500ms steps(53) 5.2s infinite,
      dissapear 5.3s linear 6s forwards;
    }
  }

  .puno.third {
    @include style;

    &::before {
      animation: revealText 5.3s steps(53) 12s forwards;
    }

    &::after {
      animation: revealText 5.3s steps(53) 12s forwards,
      blink 500ms steps(53) 11.9s infinite,
      dissapear 5.3s linear 12s forwards;
    }
  }

  .puno.fourth {
   @include style;

    &::before {
      animation: revealText 5.3s steps(53) 18s forwards;
    }

    &::after {
      animation: revealText 5.3s steps(53) 18s forwards,
      blink 500ms steps(53) 18s infinite,
      dissapear 5.3s linear 18s forwards;
    }
  }
}