.background {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  height: max-content;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);

  .fade {
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(to right, #F3E5AB44, #F3E5AB);
  }
}