* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #F5F5F5;
}

*::selection {
    color: #000;
    background-color: #FFF4C5;
}

@font-face {
    font-family: 'Assistant';
    src: url('./assets/Assistant,Bad_Script/Assistant/Assistant-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Bad Script';
    src: url('./assets/Bad_Script/BadScript-Regular.ttf');
}