.navigation {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FFF4C5;
 
  a {
    color: #000;
    text-decoration: none;
  }

  .isotipo {
    height: 120%;
    z-index: 101;
  }

  .burger {
    z-index: 101;
    margin-right: 1rem;
    height: 100%;

    &.active ~ ul {
      display: flex;
    }
  }
}

@media (min-width: 1023px) {
  .navigation {

    .burger {
      display: none;
    }

    .isotipo {
      position: absolute;
      height: 130%;
      left: 1rem;
      top: 0;
    }
  }
}